<div data-controller="groups">
	<p>
		Show archieved?
		<input type="checkbox" 
			   name="show_archieved" 
			   class="checkbox" 
			   id="checkbox"
			   data-action="click->groups#showArchieved">
	</p>
	<%= link_to 'create a group', new_group_path, class: 'btn btn-primary btn-sm' %>
	<%= render @groups %> 
</div>

