<div data-controller="groups">
	<p>
		Show archieved?
		<input type="checkbox" 
			   name="show_archieved" 
			   class="checkbox" 
			   id="checkbox"
			   data-action="click->groups#showArchieved">
	</p>
	<%= render @groups %> 
</div>
