
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to "Groups", groups_path %>
  <%= link_to "Procedures", all_procedures_path %>
  <%= link_to "Projects", all_projects_path %>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>