<h1>Hello </h1>

<h2> This is a Tasker </h2>


<% if current_user %>
	<%= link_to 'Sign out',  destroy_user_session_path, class: 'btn btn-danger' %>
<% else %>
	<%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
	<%= link_to 'Sign in', new_user_registration_path, class: 'btn btn-primary' %>
<% end %>



