<%= turbo_frame_tag project, class: 'item' do %>
	<div class="kanban-project" id="project-<%= project.id%>-<%=project.procedure.id%>">
		<span><strong><%= project.title %></strong></span>
	</div>
<% end %>
